@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Comfortaa:wght@500&family=Give+You+Glory&display=swap');
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.8em;
    margin-top: -50px;
}

h2 {
    font-size: 3em;
    margin-top: 10%;
}
h1, h2{
    font-family: 'Butcherman', cursive;
    color: #8B140D;
}

h3 {
    font-family: 'Give You Glory', cursive;
    color: #8B140D;
    font-size: 35px;
    margin-top: -80px;
}

body {
    background-image: url(image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Comfortaa', cursive;
}

a {
    background-color: #8B140D;
    padding: 25px 100px;
    border-radius: 20px;
    font-size: 25px;
    color: #BD9F89;
    text-decoration: none;
}

a:hover {
  background-color: black;
  color: #8B140D;
}
p1 {
    font-size: 1.5em;
    margin-top: -50px;
  margin-left: 50px;
  margin-right: 5em;
}
